<%- include('../includes/head.ejs') %>
    <!-- <link rel="stylesheet" href="./product.css"> -->
    <style>
    .product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.product-item {
    margin-bottom: 70px;
    width: 20rem;
    max-width: 95%;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #778d14;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}
    </style>
</head>

<body>
   

    <main>
        <a href = "/index">Welcome to Art Gallery</a>
    </main>
<%- include('../includes/end.ejs') %>
